#!/usr/bin/env xdg-open
[Desktop Entry]
Name=IntelliJ
Exec="/home/dpow/JetBrains/IntelliJ/bin/idea.sh" %f
Icon=/home/dpow/JetBrains/IntelliJ/bin/idea.png
Comment=The smartest Java IDE
Type=Application
Terminal=false
GenericName=intellij
StartupNotify=false
Categories=Development;IDE;Java;