#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Icon=/home/dpow/JetBrains/WebStorm/bin/webstorm.png
Exec="/home/dpow/JetBrains/WebStorm/bin/webstorm.sh" %f
Type=Application
Terminal=false
Comment=The smartest JavaScript IDE
Name=Webstorm
GenericName=webstorm
StartupNotify=false
Categories=Development;IDE;JavaScript;Programming