#!/usr/bin/env -S xdg-open

[Desktop Entry]
Name=IntelliJ
Exec="/home/dpow/JetBrains/IntelliJ/bin/idea" %F
Icon=/home/dpow/JetBrains/IntelliJ/bin/idea.png
Comment=The smartest Java IDE
Type=Application
Terminal=false
GenericName=IntelliJ
StartupNotify=false
Categories=Development;IDE;Java;Programming;
StartupWMClass=jetbrains-idea
# StartupWMClass tells the OS to group all windows run with the script within the same app. See: https://askubuntu.com/questions/367396/what-does-the-startupwmclass-field-of-a-desktop-file-represent/367851#367851
