#!/usr/bin/env -S xdg-open

[Desktop Entry]
Name=Postman
Exec=/opt/postman/app/Postman %U
Icon=/opt/postman/app/resources/app/assets/icon.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Development;
