#!/usr/bin/env -S xdg-open

[Desktop Entry]
Name=Postman
Exec=/home/dpow/Postman/app/Postman %U
Icon=/home/dpow/Postman/app/resources/app/assets/icon.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Development;
