#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WebStorm
Exec=/bin/bash -l -i -c '/home/dpow/JetBrains/WebStorm/bin/webstorm.sh' %f
Icon=/home/dpow/JetBrains/WebStorm/bin/webstorm.png
Comment=The smartest JavaScript IDE
Type=Application
Terminal=false
GenericName=webstorm
StartupNotify=false
Categories=Development;IDE;JavaScript;Programming;
StartupWMClass=jetbrains-webstorm
