#!/usr/bin/env -S xdg-open

[Desktop Entry]
Name=WebStorm
Exec="/home/dpow/JetBrains/WebStorm/bin/webstorm" %F
Icon=/home/dpow/JetBrains/WebStorm/bin/webstorm.png
Comment=The smartest JavaScript IDE
Type=Application
Terminal=false
GenericName=WebStorm
StartupNotify=false
Categories=Development;IDE;JavaScript;Programming;
StartupWMClass=jetbrains-webstorm
